.v-suggestBoxPopup {
    border: 2px solid #D5E2FF;
    background: white;
    margin-left: 3px;
    font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    white-space: nowrap;
}

.v-suggestBoxPopup .item {
    padding: 2px 6px;
    color: #424242;
    cursor: default;
}

.v-suggestBoxPopup .item-selected {
    background: #b7d6f6;
}



